.rdw-embedded-modal {
  left: -125px;
}

.rdw-emoji-modal {
  left: -162px;
}

.demo-wrapper,
.rdw-editor-wrapper {
  border: 2px solid $teal;
  padding: 5px;
  margin-bottom: 12px;
  width: 1423px;
}
